body {
    background: #000;
    color: #999;
    font: 12px "Trebuchet MS", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #ff6101;
    text-decoration: underline;
}

div,p,ul,h2 {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

h1 {
    color: #fff;
    font: bold 16px Arial;
    margin: 0 0 15px 0;
    text-shadow: 1px 1px 0 #000;
}

h2 {
    color: #ffc901;
    font: bold 14px Arial;
    margin: 20px 0 0 0;
}

h3 {
    color: #ff6101;
    font: bold 12px Arial;
    margin: 20px 0 0 0;
}

hr {
    margin: 0 0 10px 0;
    border-top: 1px solid #676767;
    border-bottom: 1px solid #232323;
    border-left: none;
    border-right: none;
    color: #676767;
    background-color: #676767;
}

.blue {
    color: #01c0e9;
}

.green {
    color: #09ce01;
}

.red {
    color: #fc0106;
}

.white {
    color: #fff;
}

.yellow {
    color: #ffc901;
}

.dspnone {
    display: none;
}

.vbottom {
    vertical-align: text-bottom;
}

.vmid {
    vertical-align: middle;
}

.vtop {
    vertical-align: text-top;
}

.vttop {
    vertical-align: text-top;
}

.i {
    font-style: italic;
}

.c {
    text-align: center;
}

.l {
    text-align: left;
}

.r {
    text-align: right;
}

.b {
    font-weight: bold;
}

.n {
    font-weight: normal;
}

.lthr {
    text-decoration: line-through;
}

.udl {
    text-decoration: underline;
}

.cb {
    clear: both;
}

.fll {
    float: left;
}

.flr {
    float: right;
}

.fs8 {
    font-size: 8px;
}

.fs9 {
    font-size: 9px;
}

.fs10 {
    font-size: 10px;
}

.fs11 {
    font-size: 11px;
}

.fs12 {
    font-size: 12px;
}

.fs13 {
    font-size: 13px;
}

.fs14 {
    font-size: 14px;
}

.fs16 {
    font-size: 16px;
}

.info {
    background: url(/template/images/icons/information.png) center left no-repeat;
    padding: 0 0 0 20px;
    font-size: 16px;
}

.noscript-message {
    background: #ffe481;
    border-top: 2px solid #cda100;
    border-bottom: 2px solid #cda100;
    padding: 15px 10px 15px 50px;
    margin: 0 0 20px 0;
}

.noscript-message p {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #000;
    text-align: center;
}

.noscript-message p img {
    vertical-align: middle;
    margin-top: -5px;
    padding: 0 5px 0 0;
}

.tooltip {
    position: absolute;
    top: 0;
    left: 0;
    margin: 15px 0 0 15px;
    z-index: 3;
    display: none;
    background: #131313;
    border: 1px solid #4d4d4d;
    color: #fff;
    padding: 3px 7px;
}

#dialog {
    background: url(/template/images/back_dark.jpg) center center no-repeat #0e0e0e;
}

#ui-datepicker-div {
    display: none;
}

#header {
    height: 180px;
    margin: 0 auto;
    position: relative;
    width: 908px;
}

/*#header #fb {
    position: absolute;
    top: 143px;
    right: -8px;
}*/

#header #google_translate_element {
    position: absolute;
    top: 50px;
    right: 0;
}

#header #page_options {
    font-size: 9px;
    height: 12px;
    position: absolute;
    top: 90px;
    text-align: right;
    background: #222;
    right: 8px;
    padding: 2px 5px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

#header #page_options a {
    color: #ddd;
}

#consumer_top, #consumer_bottom {
    margin: 20px auto 0 auto;
    width: 728px;
    height: 90px;
    padding: 3px 5px;
    border: 1px solid #4d4d4d;
    /* background: url(/template/v3dark/images/thumbs-down.gif) center no-repeat; */
}

#consumer_bottom_dl {
    text-align: center;
    margin: 20px auto 0 auto;
    width: 806px;
    height: 444px;
    padding: 5px;
    border: 1px solid #4d4d4d;
    overflow: hidden;
    /* background: url(/template/v3dark/images/thumbs-down.gif) center no-repeat; */
}

#wv {
    padding: 15px 0 0 0;
    margin: 0 auto;
    width: 728px;
}

#footer {
    height: 27px;
    left: 0;
    margin: 0 auto;
    padding: 0 0 20px 0;
    /* overflow: hidden; */
    position: relative;
    top: 20px;
    width: 908px;
}

#footer-logo {
    color: #666;
    height: 27px;
    left: 0;
    position: absolute;
    top: 0;
    width: 113px;
}

#footer-logo img {
    height: 27px;
    width: 113px;
}

#footer-menu {
    text-transform: uppercase;
    padding: 7px 10px 0 0;
}

#footer-menu li {
    border-right: 1px solid #b0b0b0;
    display: inline;
    padding: 0 1px;
}

#footer-menu li.last {
    border-right: 0;
}

#footer-menu a {
    color: #b0b0b0;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 5px 0 0;
}

#left {
    background: url(/template/v3dark/images/navi-left.gif) 0 0 no-repeat;
    color: #666;
    height: 19px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 153px;
}

#left-menu {
    width: 153px;
    text-align: center;
    padding: 2px 0 0 0;
}

#left-menu a {
    color: #b0b0b0;
    text-decoration: none;
    font-size: 10px;
    padding: 0;
}

#left-menu a:hover,#footer-menu a:hover {
    color: #fff;
    text-decoration: none;
}

#left-menu li {
    display: inline;
    padding: 0 1px;
}

#login-bar {
    color: #666;
    height: 24px;
    left: 408px;
    position: absolute;
    top: 0;
    width: 500px;
    text-align: right;
}

#login-bar .button {
    padding: 1px 5px;
    margin: 0;
}

/*#login-bar button.logins {
    background: url(/template/v3dark/images/login_go.gif) no-repeat 0 0;
    border: none;
    cursor: pointer;
    float: right;
    height: 16px;
    padding-right: 70px;
    width: 34px;
}*/

#login-bar #login-link {
    font-size: 12px;
    line-height: 20px;
}

#login-bar div.login {
    color: #01c0e9;
    font: bold 11px Arial;
    height: 25px;
}

/*#login button.logins {
    background: url(/template/v3dark/images/login_go.gif) no-repeat 0 0;
    border: none;
    cursor: pointer;
    float: right;
    height: 16px;
    padding-right: 70px;
    width: 34px;
}*/

#login {
    display: none;
    color: #666;
    height: 192px;
    left: 640px;
    position: absolute;
    top: 21px;
    width: 250px;
    z-index: 99;
    background: #000000;
    border-left: 2px solid #676666;
    border-right: 2px solid #676666;
    border-bottom: 2px solid #676666;
}

#login div.login {
    color: #b0b0b0;
    font: 11px Arial;
    margin: 20px 10px 10px 10px;
    position: relative;
    height: 148px;
}

#login input.login {
    color: #4c4b4b;
    font: normal 11px Arial;
    margin: 15px auto 0 auto;
    padding: 3px;
    width: 204px;
    display: block;
}

#login .button {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
}

#login .login_ssl {
    display: block;
    float: left;
    padding: 42px 0 0 10px;
    font-size: 10px;
}

#login .forget_pass {
    display: block;
    margin: 4px 0 15px 8px;
    text-align: center;
}

#l_user {
    background-image: url(/template/images/login_username.gif);
    background-repeat: no-repeat;
    background-position: 6px 9px;
}

#l_pass {
    background-image: url(/template/images/login_password.gif);
    background-repeat: no-repeat;
    background-position: 6px 6px;
}

#logo {
    color: #666;
    height: 52px;
    left: 0;
    position: absolute;
    top: 43px;
    width: 285px;
}

#logo img {
    height: 50px;
    width: 285px;
}

#main {
    background: #131313;
    border: 1px solid #4d4d4d;
    left: 0;
    margin: 0 auto;
    /* position: relative; */
    width: 908px;
}

#main #inner {
    margin: 0 auto;
    width: 868px;
    padding: 20px;
}

#main #inner .item_box {
    border-bottom: 1px dotted #4d4d4d;
    border-right: 1px dotted #4d4d4d;
    padding: 5px;
}

* html .middle {
    width: 100%;
}

.footer {
    background: url(/template/v3dark/images/footer.gif) 0 0 no-repeat;
    height: 27px;
    overflow: hidden;
    top: 0;
    left: 0;
    text-align: right;
    position: absolute;
    width: 908px;
}

.middle {
    background: url(/template/v3dark/images/middle.gif) 0 0 no-repeat;
    height: 68px;
    left: 0;
    position: absolute;
    top: 105px;
    width: 100%;
}

ul#topnav {
    margin: 0 0 0 10px;
    padding: 0;
    list-style: none;
    float: left;
    font-size: 12px;
    position: relative;
}

ul#topnav li {
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
    height: 40px;
}

ul#topnav a, ul#topnav span {
    padding: 10px 18px;
    float: left;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    clear: both;
    height: 20px;
    line-height: 20px;
    white-space: nowrap;
}

ul#topnav a {
    color: #ffc901;
    background-position: left bottom;
}

ul#topnav span {
    background-position: left top;
}

ul#topnav li p {
    z-index: 9999;
    position: absolute;
    margin: 38px 0 0 0 !important;
    margin: 38px 0 0 -100px;
    width: auto !important;
    width: 150px;
    background: #000000;
    display: none;
    color: #000;
    border-left: 1px solid #424242;
    border-right: 1px solid #424242;
    border-bottom: 1px solid #424242;
}

ul#topnav li:hover p {
    display: block;
}

ul#topnav li p a {
    display: block;
    float: none;
    color: #fff;
    font-size: 10px;
    text-transform: capitalize;
    padding: 3px 20px;
}

ul#topnav li p a:hover {
    background: #242424;
}

div#select_lang {
    width: 100px;
    text-align: right;
    float: right;
    margin: 13px 20px 0 0;
}

div#select_lang img {
    padding: 0 2px;
}

div#dialog, ul#contextMenu {
    display: none;
}

/* ----- CONTENT ----- */

/* scroller -> */

#newsscroller {
    display: none;
}

.tickercontainer {
    width: 864px;
    line-height: 30px;
    height: 30px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

ul.newsticker {
    position: relative;
    left: 876px;
    font-size: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.newsticker li {
    float: left;
    display: block;
    margin: 0;
    padding: 0;
}

ul.newsticker a {
    white-space: nowrap;
    padding: 0;
    font-size: 10px;
    margin: 0 10px 0 0;
    font-size: 11px;
}

ul.newsticker span {
    margin: 0 10px 0 0;
}

/* news -> */
#news_entries h3 {
    padding: 2px 5px;
    margin: 15px 0 0 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

#news span.date {
    display: block;
    float: right;
    font-size: 10px;
    font-weight: normal;
    border: 1px solid;
    padding: 2px 3px 2px 20px;
    margin: 4px 0 0 0;
    position: relative;
}

#news .ui-icon-clock {
    position: absolute;
    top: 8px;
    left: 2px;
}

#news_entries div a {
    font-weight: bold;
}

#news_entries div p.ntext {
    overflow-x: hidden;
}

/* faq -> */
#faq #faq_anchors a {
    display: block;
    margin: 5px;
    font-size: 12px;
}

#faq_entries h3 {
    padding: 2px 5px;
    margin: 15px 0 0 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

/* register -> */
.free_register {
    display: none;
}

/* files -> */
#own h1 {
    width: 100%;
    clear: both;
}
#own #status {
    float: left;
    margin: 8px 0 0 0;
}

#own #status p span {
    color: #fff;
}

#own #select_items, #own #select_items_mirror {
    margin: 8px 0 0 0;
    padding: 0 0 10px 0;
    float: right;
}

#own #select_items p, #own #select_items_mirror p {
    text-align: right;
    display: none;
}

#own #user_files {
    clear:both;
    display: none;
}

#own #file_nav_items {
    float: left;
}

#own #file_nav_items .own_input {
    width: 145px;
}

#own #files_adv_toggle {
    clear: both;
}

#own #files_adv_toggle h3 {
    padding: 15px 0 0 0;
    display: block;
    font-size: 11px;
    color: #01c0e9;
}

#own #files_adv_options {
    clear: both;
    width: 100%;
    margin: 10px 0 0 0;
    display: none;
}

#own #file_nav_items p {
    float: left;
    line-height: 18px;
    margin: 0 20px 0 0;
}

#own #file_nav_items p span {
    display: block;
    float: none;
    text-align: center;
}

#own #file_nav_items p .ui-icon {
    float: left;
}

#own #file_nav_items label {
    color: #ffc901;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
}

#own #nf {
    clear: both;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
}

#own #filestats table {
    right: 0;
    float: right;
    margin: 0 0 25px 0;
    border: 1px solid #4d4d4d;
}

#own #filestats table .intro span {
    font-weight: bold;
    color: #01c0e9;
}

#own #filestats table .w {
    color: #fff;
}

#own #filestats table td {
    padding: 3px 5px;
}

#own #f_load {
    padding: 2px 5px;
    margin: 0;
}

#own #actions {
    display: none;
}

#own #actions a {
    margin: 5px 10px 0 0;
    line-height: 20px;
    display: block;
    position: relative;
    float: left;
}

#own #actions a span {
    float: left;
    margin: 0 2px 0 10px;
}

p#extracted_links {
    position: relative;
    display: block;
}

p#extracted_links textarea {
    font-size: 12px;
    width: 470px;
    height: 250px;
    color: #aaa;
    background: #131313;
    border: 1px solid #4d4d4d;
}

p#extracted_links span#export {
    display: block;
    margin: 10px 0 0 0;
    width: 100%;
}

p#extracted_links span#export img {
    border: 0;
}

div#sl_advice a.create_sl {
    display: block;
    margin: 20px 0 0 0;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

div#nopaste_options {
    margin: 20px 0 0 0;
}

div#nopaste_options label {
    font-size: 9px;
}

div#nopaste_options .f_text {
    display: block;
    width: 230px;
    float: right;
    margin: 0 8px 0 0;
}

div#nopaste_options .l_text {
    font-size: 11px;
    font-weight: bold;
    display: block;
    float: left;
    margin: 0 0 0 8px;
}

div#nopaste_options div {
    clear: both;
    height: 30px;
}

div#nopaste_options p {
    margin: 5px 0;
}

div#nopaste_options p.options {
    padding: 10px 0 0 0;
    text-align: center;
}

div#nopaste_options #sl_descr {
    font-size: 10px;
    margin: 20px 0 0 0;
}

div#sl_create_window #sl_result {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin: 35px 0 0 0;
    text-align: center;
}

div#f_options {
    margin: 20px 0 0 0;
}

div#f_options label {
    font-size: 9px;
}

div#f_options .f_text {
    display: block;
    width: 230px;
    float: right;
    margin: 0 8px 0 0;
}

div#f_options .l_text {
    font-size: 11px;
    font-weight: bold;
    display: block;
    float: left;
    margin: 0 0 0 8px;
}

div#f_options div {
    clear: both;
    height: 30px;
}

div#f_options p {
    margin: 5px 0;
}

div#f_options p.options {
    padding: 10px 0 0 0;
    text-align: center;
}

div#f_options #sl_descr {
    font-size: 10px;
    margin: 20px 0 0 0;
}

/* config -> */
.config_form {
    width: 760px;
    margin: 10px auto 0 auto;
    border: 1px solid #4d4d4d;
    padding: 10px 20px;
    background: url(/template/images/back_dark.jpg) center center no-repeat #0e0e0e;
}

.config_form h2 {
    margin-top: 10px;
}

.config_form span {
    margin: 10px 0 0 0;
    clear: both;
    float: left;
    line-height: 18px;
}

.config_form span.ui-icon {
    margin: 0 3px 0 0;
    clear: none;
    float: left;
}

.config_form span.fs10 {
    margin: 0;
    clear: none;
    float: none;
}

.config_form #sl_active {
    clear: both;
    padding: 20px 0 0 0;
    margin: 0;
    display: block;
}

.config_form div {
    display: none;
    margin: 0 0 0 19px;
}

.config_form span label {
    font-size: 12px;
    font-weight: bold;
}

.config_form input, .config_form p.r {
    clear: right;
    margin: 10px 0 0 0;
    font-size: 12px;
    line-height: 18px;
    float: right;
}

.config_form p.r {
    width: 400px;
}

.config_form input, .config_form p.r a {
    font-size: 11px;
}

.config_form p.r input {
    float: none;
    margin: 0;
    line-height: normal;
}

.config_form input.text {
    width: 300px;
}

.config_form .ui-widget, .config_form .ui-widget div {
    display: block;
    margin: 0;
    line-height: 18px;
}

.config_form .ui-widget div {
    padding: 0 5px;
}

.config_form .ui-widget .ui-icon {
    float: left;
    margin: 0 5px 0 0;
}

.config_form .sl_create {
    font-size: 11px;
    float: none;
    clear: none;
    margin: 0 0 0 20px;
    color: #fff;
}

.config_form .account_lock_status {
    font-size: 11px;
    float: none;
    clear: none;
    margin: 0 0 0 5px;
    color: #fff;
    font-weight: normal;
}

.config_form .account_lock_status span {
    float: none;
}

.config_form #account_lock {
    display: block;
    text-align: center;
    line-height: 20px;
    font-size: 11px;
    text-transform: uppercase;
    margin: 10px 0 0 0;
}

.config_form #account_lock input {
    float: none;
    padding: 0;
    margin: 0 2px 0 5px;
    vertical-align: text-bottom;
}

.config_form #account_lock h3 {
    text-align: left;
    text-transform: none;
}

.config_form #account_lock table {
    margin: 0 auto;
}

.config_form #account_lock table td {
    padding: 0 10px;
    text-align: left;
    text-transform: none;
    line-height: 16px;
}

.config_form #account_lock table td small {
    color: #fff;
}

.config_form #account_lock .ui-icon {
    padding: 2px 0 0 0;
}

.config_form #https, .config_form #ddl, .config_form #email_lang, .config_form #freeuser_limit, .config_form #remote, .config_form #remote_upload {
    display: block;
    text-align: center;
    line-height: 20px;
    font-size: 11px;
    text-transform: uppercase;
    margin: 10px 0 0 0;
}

.config_form #https input, .config_form #ddl input, .config_form #email_lang input, .config_form #freeuser_limit input {
    float: none;
    padding: 0;
    margin: 0 2px 0 5px;
    vertical-align: text-bottom;
}

.config_form #https p, .config_form #ddl p, .config_form #email_lang p, .config_form #freeuser_limit p, .config_form #remote p, .config_form #remote_upload p {
    text-transform: none;
    text-align: left;
    margin: 0 0 20px 10px;
}

.config_form #remote p span {
    float: none;
    margin: 5px 0;
}

.config_form .remote_account {
    display: none;
    clear: both;
    margin-bottom: 20px;
}

.config_form .remote_account h3 {
    padding: 0;
    margin: 0;
    color: #fff;
}

.config_form #edit_remote_accounts {
    text-align: center;
    display: block;
    margin: 0 0 10px 0;
}

.config_form #edit_remote_accounts a {
    text-transform: uppercase;
}

.config_form #remote_accounts_save {
    display: none;
}

.config_form #remote_upload {
    text-transform: none;
}

.config_form #remote_upload #f_remote_amount {
    float: none;
    border:0;
    font-weight:bold;
    background: none;
    color: #fff;
    font-size: 14px;
    width: 50px;
}

.config_form #remote_upload label {
    text-transform: uppercase;
}

.config_form #remote_upload #f_remote_amount_slider {
    display: block;
    float: none;
}

#f_remote_amount_slider {
    width: 450px;
    margin: 20px auto 0 auto;
    background: #aaa;
    padding: 3px;
}

#f_remote_amount_slider .ui-slider-handle {
    padding: 3px;
    border: 1px solid #a6a6a6;
}

/* download -> */
#download #file_facts {
    padding: 8px 5px 4px 5px;
    font-size: 12px;
}

#download #file_facts h2 {
    margin: 0 0 5px 10px;
    padding: 0;
    font-size: 16px;
}

#download #file_facts h2 span {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 0 5px;
}

#download #file_facts .ui-icon {
    margin: 0 0 0 7px
}

#download #file_facts div span {
    float: left;
    line-height: 16px;
    color: #ccc;
}

#download #file_facts div span.name {
    font-weight: bold;
    margin: 0 5px 0 0;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 17px;
    color: #999;
}

#download #file_facts div {
    float: left;
}

#download #dl_info div, #download #dl_failure div {
    padding: 10px;
    line-height: 16px;
}

#download #dl_info div span, #download #dl_failure div span {
    float: left;
}

#download #dl_failure {
    margin: 40px 0 20px 0;
}

#download #dl_failure div div {
    padding: 10px 10px 0 10px;
    font-size: 12px;
    text-align: left;
}

#download #dl_failure div div strong {
    display: block;
    text-align: center;
    padding: 0 0 30px 0;
    font-size: 16px;
}

#download #dl_failure div div span {
    float: none;
}

#download p#dl_retry {
    float: right;
    display: block;
    margin: 20px 0 0 0;
}

#download p#dl_retry .ui-icon {
    float: left;
}

#download #choose_package {
    text-align: center;
}

#download #dl_package {
    margin: 0 auto;
    width: 670px;
}

#download #dl_package th {
    width: 50%;
    font-size: 14px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
}

#download #dl_package td {
    padding: 20px 10px;
}

#download #dl_package td.details {
    border-top: 1px solid #4d4d4d;
    border-right: 1px solid #4d4d4d;
    border-bottom: 1px solid #4d4d4d;
}

#download #dl_package td.package_type {
    padding: 10px;
    text-align: left;
    font-size: 13px;
    font-weight: bold;
}

#download #dl_package td li {
    font-size: 13px;
    padding: 2px 0 2px 24px;
    margin: 0 0 0 20px;
}

#download #dl_package td#dl_free li, #download #dl_package td.dl_free li {
    text-align: left;
    background: url(/template/images/icons/delete.png) center left no-repeat;
}

#download #dl_package td#dl_premium li, #download #dl_package td.dl_premium li {
    text-align: left;
    background: url(/template/images/icons/accept.png) center left no-repeat;
}

#download #dl_package td#dl_free, #download #dl_package td.dl_free {
    color: #ff6101;
    text-shadow: 0 0 10px #fc0106, 1px 1px 0 #803100;
}

#download #dl_package td#dl_premium, #download #dl_package td.dl_premium {
    color: #b2e701;
    text-shadow: 0 0 10px #b2e701, 1px 1px 0 #506800;
}

#download .dl_hover {
    background: #09697d;
    cursor: pointer;
}

#download #dl_wait {
    margin: 30px 0;
    background: url(/template/v3dark/images/dl-countdown_back.jpg) top left no-repeat;
    width: 868px;
    height: 150px;
    text-align: center;
    padding: 0;
}

#download #dl_wait p#dl_start a {
    color: #999;
    font-size: 13px;
}

#download #dl_wait p#dl_start a:hover {
    color: #ff6101;
    text-decoration: none;
}

#download #dl_wait #dl_container {
    font-size: 56px;
    font-family: serif;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 0 #131313;
    margin: 0 auto;
    padding: 32px 0 0 0;
    width: 200px;
    overflow: hidden;
}

#download #dl_wait div#dl_min, #download #dl_wait div#dl_sec, #download #dl_wait div#dl_hs {
    float: left;
    margin: 0 10px 0 0;
}

#download #dl_wait div#dl_hs {
    font-size: 32px;
}

#download #dl_wait span {
    font: 11px "Segoe UI", Arial, sans-serif;
    text-align: left;
    font-size: 11px;
    line-height: 11px;
    text-shadow: none;
    display: block;
    height: 11px;
}

#download #dl_captcha_c {
    position: relative;
    width: 100%;
    line-height: 10px;
    height: 10px;
}

#download #dl_captcha {
    position: absolute;
    right: 200px;;
    top: 50px;
}

#download #dl_ticket {
    display: none;
    margin: 30px 0;
    width: 868px;
    height: 150px;
    text-align: center;
}

#download #dll {
    width: 600px;
    text-align: center;
    clear: both;
    margin: 0 auto;
}

#download #dll p {
    text-align: center;
    margin: 75px 0 75px 0;
}

#download #dll a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

#download a#dlssl {
    display: block;
    margin: 20px 0 0 0;
    font-size: 9px;
    font-weight: normal;
}

#download #dl_ticket #dll {
    padding: 10px 0 0 0;
}

#download #dl_ticket #dll p {
    margin: 0 0 0 0;
}